.venv
__pycache__
*.json
.gitignore
*.xlsx
*.docx
*.xlsx
*.parquet
logs/
src/data/
.vscode/
*.env
*.log
storage/
test_data/
*.jsonl
uv.lock
reports
.env
.idx
.kilo
.vscode
.idea
.robotcode_cache
results/*